<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo | Login</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>

    <header class="main-header">
        <a href="index.html" class="logo">Tempo 🎵</a>

        <nav class="navbar">
            <a href="index.html">Inicio</a>
            <a href="productDetail.html">Clases</a>
            <a href="productCart.html">Carrito</a>
            <a href="login.html" class="active">Login</a>
            <a href="register.html" class="btn-nav">Registro</a>
        </nav>
    </header>

    <main class="auth-page">

        <section class="auth-container">

            <div class="auth-left">
                <p class="hero-tag">Bienvenido nuevamente</p>
                <h1>Ingresá a tu cuenta</h1>

                <p>
                    Accedé a tus clases, historial de compras y profesores favoritos.
                </p>
            </div>

            <form class="auth-form">

                <h2>Iniciar sesión</h2>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" placeholder="Ingresá tu email">
                </div>

                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" placeholder="Ingresá tu contraseña">
                </div>

                <div class="remember-row">
                    <label>
                        <input type="checkbox">
                        Recordarme
                    </label>

                    <a href="#">Olvidé mi contraseña</a>
                </div>

                <button class="btn-primary auth-btn">
                    Iniciar sesión
                </button>

                <p class="auth-link">
                    ¿No tenés cuenta?
                    <a href="register.html">Registrate</a>
                </p>

            </form>

        </section>

    </main>

    <footer class="main-footer">
        <h2>Tempo 🎵</h2>
        <p>Marketplace de clases de música online.</p>
        <p>© 2026 Tempo. Todos los derechos reservados.</p>
    </footer>

</body>

</html>